@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}
header{
  margin: 15px;
  

  display: flex;
  justify-content: space-between;
}
header span{
  color: #7b2cbf;
}
nav{
  display: flex;
  align-items: center;

  gap: 15px;
}
nav p{
  transition: all ease 0.3s;
}
nav p:hover{
  color: #7b2cbf;
  cursor: pointer;
}
#cadButton{
  padding: 10px;

  background-color: #7b2cbf;
  color: #fff;
  border: 2px solid #7b2cbf;
  border-radius: 10px;

  transition: all ease 0.3s;
}
#cadButton:hover{
  background-color: #027399;
  cursor: pointer;
}
#logButton{
  padding: 10px 15px;

  background-color: transparent;
  color: #7b2cbf;
  border: 2px solid #7b2cbf;
  border-radius: 10px;

  transition: all ease 0.3s;
}
#logButton:hover{
  background-color: #027399;
  color: #fff;
}
main{
  width: 100vw;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
#mainText{
  margin-top: 40px
}
.cad{
  margin-top: 40px;
}
.cadButton{
  display: flex;
}
.cadButtonbutton{
  padding: 10px 15px;
  margin: 5px;
  
  width: 150px;

  background-color: transparent;
  color: #7b2cbf;
  border: 1px solid #7b2cbf;
  border-radius: 3px;
  
  transition: 0.3s all
}
#selectContainer{
  padding: 8px 15px;
  width: 280px;
  
  display: flex;
  justify-content: center;
  
  border: 1px solid #7b2cbf;
  border-radius: 3px;
  color: #ccc;
}
#iContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
#iContainer i{
  color: #7b2cbf;
}
#slcContainer{
  margin-top: 15px;
}
.ciE{
  display: flex;
}
.ciElabel{
  color: #898989;
}
#cidadeContainer, #estadoContainer{
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}
#cidade{
  padding: 10px;
  
  width: 220px;
  
  border: 1px solid #898989;
  border-radius: 3px;
  color: #ccc;
  outline: 0;
}

#estado{
  padding: 10px;

  width: 50px;

  border: 1px solid #898989;
  border-radius: 3px;
  color: #ccc;
  outline: 0;
}
#ruaContainer{
  margin-top: 5px;
  
  display: flex;
  flex-direction: column;
}
#ruaContainer label{
  color: #898989;
}
#rua{
  padding: 10px;

  width: 297px;

  border: 1px solid #898989;
  border-radius: 3px;
  color: #ccc;
  outline: 0;
}
#numeroContainer{
  margin-top: 5px;

  display: flex;
  flex-direction: column;
}
#numeroContainer label{
  color: #898989;
}
#numero{
  padding: 10px;

  width: 150px;

  border: 1px solid #898989;
  border-radius: 3px;
  color: #ccc;
  outline: 0;
}
#complementoContainer{
  margin-top: 5px;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
}
#complementoContainer label{
  color: #898989;
}
#complemento{
  padding: 10px;

  width: 120px;

  border: 1px solid #898989;
  border-radius: 3px;
  color: #ccc;
  outline: 0;
}
#cadastrarContainer{
  padding: 10px;
  margin-top: 20px;
  
  width: 318px;
  
  background-color: #7b2cbf;
  border: 0;
  border-radius: 3px;
  color: #fff;
}
.dpNo{
    display: none;
}
.selected {
  padding: 10px 15px;
  margin: 5px;

  width: 150px;

  background-color: #7b2cbf;
  color: #fff;
  border: 1px solid #7b2cbf;
  border-radius: 3px;
  
  transition: 0.3s all
}
#info{
    padding: 10px;
}
#info label{
    color: #898989;
}
.infoContainerbutton{
    padding: 8px 15px;
    
    height: 50px;
    width: 70px;
    
    background-color: transparent;
    color: #7b2cbf;
    border: 1px solid #ccc;
    border-radius: 3px;
    
    transition: 0.3s all ease;
}
.preco{
    padding: 15px;
}
#p{
    color: #898989;
}
#preco label{
    color: #ccc;
}
.buttons{
    display: flex;
}
.inputLinePreco{
    padding: 5px;
    margin-right: 5px;
  
    display: flex;
  
    border: 1px solid #ccc;
    border-radius: 3px;
}
.inputLinePreco input{
    width: 100px;
    
    border: 0;
    background-color: transparent;
    color: #ccc;
    outline: 0;
}
.inputLinePreco p{
    color: #7b2cbf;
}
.inputLineSize{
    padding: 5px;
    margin-right: 5px;
    
    display: flex;
    
    border: 1px solid #ccc;
    border-radius: 3px;
}
.inputLineSize input{
    width: 100px;
  
    border: 0;
    background-color: transparent;
    color: #ccc;
    outline: 0;
}
.inputLineSize p{
    color: #7b2cbf;
}
.buttonContainer{
    color: #ccc;
}
#optionsContainer{
  padding: 10px;
  margin-top: 10px;
  
  position: absolute;
  display: none;
  
  width: 290px;
  overflow-x: auto;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  border-radius: 5px;
  font-size: small;
  color: #898989;
  z-index: 1;
}
.option{
  margin-left: 15px;
  gap: 3px;
  
  display: flex;
  
  color: #ccc;
}
.infoContainerbuttonclicked{
  padding: 8px 15px;

  height: 50px;
  width: 70px;

  background-color: transparent;
  color: #7b2cbf;
  border: 1px solid #7b2cbf;
  border-radius: 3px;
  
  transition: 0.3s all ease;
}
