@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center
}
#container{
    height: 80%;
    width: 70%;
    
    display: flex;

    background: linear-gradient(to right, #7b2cbf 50%, #fff 50%);
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
#containerImg{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#containerImg img{
    height: 70%;
    width: 70%;
}
#logCadContainer{
  height: 100%;
  width: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #7b2cbf;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
#inputLine{
  padding: 7px;
  margin: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border: 1px solid #7b2cbf;
  border-radius: 5px;
}
#inputLine input{
  width: 250px;
  
  background-color: transparent;
  border: 0;
  outline: 0;
}
#inputLineEmail{
  padding: 7px;
  margin: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  border: 1px solid #7b2cbf;
  border-radius: 5px;
}
#inputLineEmail input {
  width: 250px;

  background-color: transparent;
  border: 0;
  outline: 0;
}
#es{
  margin: 12px;
  
  font-size: small;
}
i,span{
  color: #7b2cbf;
}
#submit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#submit button{
  padding: 7px;
  margin-top: 10px;
  
  width: 300px;
  
  background-color: #7b2cbf;
  color: #fff;
  border-radius: 5px;
  border: 0;
}
