@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}
header{
  margin: 15px;
  

  display: flex;
  justify-content: space-between;
}
header span{
  color: #007ea7;
}
nav{
  display: flex;
  align-items: center;

  gap: 15px;
}
nav p{
  transition: all ease 0.3s;
}
nav p:hover{
  color: #007ea7;
  cursor: pointer;
}
#cadButton{
  padding: 10px;

  background-color: #007ea7;
  color: #fff;
  border: 2px solid #007ea7;
  border-radius: 10px;

  transition: all ease 0.3s;
}
#cadButton:hover{
  background-color: #027399;
  cursor: pointer;
}
#logButton{
  padding: 10px 15px;

  background-color: transparent;
  color: #027399;
  border: 2px solid #007ea7;
  border-radius: 10px;

  transition: all ease 0.3s;
}
#logButton:hover{
  background-color: #027399;
  color: #fff;
}
main{
  display: flex;
}
aside{
  margin-top: 20px;
  margin-left: 30px;
  
  display: inline-block;
}
#buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 10px;
}
#buttons button{
  margin: 5px;
  
  border: 0;
  background-color: transparent;
}
#buttonSelect{
  color: #007ea7;
}
#borderBottom{
  height: 2px;
  width: 100%;
  
  background: linear-gradient(to right, #007ea7 50%, #ccc 50%);
}
#select{
  margin: 10px;
  padding: 15px;
  
  border-bottom: 2px solid #ccc;
}
label{
  color: #898989;
}
#selectContainer{
  padding: 8px 15px;
  
  display: flex;
  justify-content: center;
  
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #ccc;
}
#iContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
#iContainer i{
  color: #007ea7;
}
#preco{
  margin: 10px;
  padding: 15px;
  
  border-bottom: 2px solid #ccc;
}
#p{
  color: #898989;
}
#preco label{
  color: #ccc;
}
.inputLinePreco{
  padding: 5px;
  margin-right: 5px;
  
  display: flex;
  
  border: 1px solid #ccc;
  border-radius: 3px;
}
.inputLinePreco input{
  width: 100px;
  
  border: 0;
  background-color: transparent;
  color: #ccc;
}
.buttons{
  display: flex;
}
.inputLinePreco p{
  color: #007ea7;
}
#info{
  margin: 10px;
  padding: 15px;

  
  border-bottom: 2px solid #ccc;
}
#infoContainer button{
  padding: 8px 15px;
  
  height: 40px;
  width: 65px;
  
  background-color: transparent;
  color: #007ea7;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#submit{
  padding: 10px;
  margin: 10px;
  
  display: flex;
  justify-content: space-between;
}
#limpar{
  padding: 10px;
  
  background-color: transparent;
  color: #007ea7;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#enviar{
  padding: 10px;

  background-color: #007ea7;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#main{
  display: flex;
  flex-direction: column;
  
  width: 100%;
}
#searchBarContainer{
  padding: 10px;
  margin-top: 20px;
  margin-left: 30px;
  
  width: 100%;
}
#searchBar{
  padding: 10px;
  
  width: 90%;
  
  display: flex;
  align-items: center;
  
  border: 1px solid #007ea7;
  border-radius: 3px
}
#searchBar input{
  width: 100%;
  
  outline: 0;
  border: 0;
}
#searchBar i{
  color: #007ea7;
}
#iAf{
  margin: 5px;
  
  display: flex;
  justify-content: space-between;
  
  width: 90%;
}
#filtro{
  display: flex;
  align-items: center;
}
#filtro i{
  color: #007ea7;
}
#filtro p{
  color: #898989;
}
#amount p{
  color: #ccc;
  font-size: small;
}
#amount span{
  color: #898989;
}
